/* You can add global styles to this file, and also import other style files */
.field-error {
    border: 1px solid red;
}

.form-label {
    font-weight:bold;
}

.script-form-field {
    text-align: center;
    width: 20%;
}

.center-form-div {   
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-error-alert {
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
}