<div class="card">
    <div class="card-header card-header-left">
        Create a custom Favorite script for your Stream Deck
    </div>
    <div class="card-body">
        <form novalidate
        (ngSubmit)="submit()"
        [formGroup]="scriptForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                    for="originalXId">Original X Coordinate</label>
                <div class="col-md-8">
                <input class="form-control"
                        id="originalXId"
                        type="number"
                        placeholder="Original X Coordinate (required)"
                        formControlName="originalX"
                        [ngClass]="{'is-invalid': (scriptForm.get('originalX').touched || scriptForm.get('originalX').dirty) && !scriptForm.get('originalX').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="scriptForm.get('originalX').errors?.required">
                    Please enter your original X coordinate.
                    </span>
                </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                    for="originalYId">Original Y Coordinate</label>
                <div class="col-md-8">
                <input class="form-control"
                        id="originalYId"
                        type="number"
                        placeholder="Original Y Coordinate (required)"
                        formControlName="originalY"
                        [ngClass]="{'is-invalid': (scriptForm.get('originalY').touched || scriptForm.get('originalY').dirty) && !scriptForm.get('originalY').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="scriptForm.get('originalY').errors?.required">
                    Please enter your original Y coordinate.
                    </span>
                </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                    for="newXId">New X Coordinate</label>
                <div class="col-md-8">
                <input class="form-control"
                        id="newXId"
                        type="number"
                        placeholder="New X Coordinate (required)"
                        formControlName="newX"
                        [ngClass]="{'is-invalid': (scriptForm.get('newX').touched || scriptForm.get('newX').dirty) && !scriptForm.get('newX').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="scriptForm.get('newX').errors?.required">
                    Please enter your new X coordinate.
                    </span>
                </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                    for="newYId">New Y Coordinate</label>
                <div class="col-md-8">
                <input class="form-control"
                        id="newYId"
                        type="number"
                        placeholder="New Y Coordinate (required)"
                        formControlName="newY"
                        [ngClass]="{'is-invalid': (scriptForm.get('newY').touched || scriptForm.get('newY').dirty) && !scriptForm.get('newY').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="scriptForm.get('newY').errors?.required">
                    Please your original Y coordinate.
                    </span>
                </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                    for="effectNameId">Effect Name</label>
                <div class="col-md-8">
                <input class="form-control"
                        id="effectNameId"
                        type="text"
                        placeholder="Effect Name (required)"
                        formControlName="effectName"
                        [ngClass]="{'is-invalid': (scriptForm.get('effectName').touched || scriptForm.get('effectName').dirty) && !scriptForm.get('effectName').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="scriptForm.get('effectName').errors?.required">
                    Please enter the effect name.
                    </span>
                </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                    for="fileNameId">File Name</label>
                <div class="col-md-8">
                <input class="form-control"
                        id="fileNameId"
                        type="text"
                        placeholder="File Name (required)"
                        formControlName="fileName"
                        [ngClass]="{'is-invalid': (scriptForm.get('fileName').touched || scriptForm.get('fileName').dirty) && !scriptForm.get('fileName').valid }" />
                <span class="invalid-feedback">
                    <span *ngIf="scriptForm.get('fileName').errors?.required">
                    Please enter the file name.
                    </span>
                </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                <button class="btn btn-primary mr-3"
                        type="submit"
                        style="width:80px"
                        [title]="scriptForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!scriptForm.valid">
                    Submit
                </button>
                </div>
            </div>
        </form>
    </div>
</div>